:root {
  --main-color: white;
  --secondary-color: #025136;
  --tertiary-color: black;
  --main-font: "Inclusive Sans", sans-serif;
  --card-font-size: 2.7rem;
  --title-font-size: 2.5rem;
  --button-font-size: 1.5rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  background-color: var(--secondary-color);
  padding-bottom: 20px;
}

body {
  margin: 0;
}

button {
  font-family: inherit;
}

span {
  font-family: inherit;
}

.main-container {
  font-family: var(--main-font);
  padding: 10px 20px;
}

.hidden {
  visibility: hidden;
}

.title {
  color: var(--main-color);
  font-size: var(--title-font-size);
  text-align: center;
  padding: 0.2rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  padding-top: 5px;
}

.card {
  position: relative;
  border: 1px solid;
  border-color: var(--main-color);
  font-size: var(--card-font-size);
  height: 20rem;
  width: 15rem;
  border-radius: 1rem;
  background-color: var(--main-color);
}

.suit-top-left {
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
}

.suit-bottom-right {
  position: absolute;
  bottom: 0.7rem;
  right: 0.7rem;
}

.value {
  font-size: 5rem;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  padding: 10px 40px;
  margin-bottom: 1rem;
  border: 1px solid;
  border-color: var(--main-color);
  border-radius: 1rem;
  background-color: var(--main-color);
  box-shadow: -4px 4px 4px #012d1e;
  width: 10rem;
}

.button-start-container {
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.display-text {
  color: var(--main-color);
  text-align: center;
  height: 25px;
}

.diplay-container {
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
  margin-bottom: 1rem;
}
